*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background-color: #FEFEFE;
    font-family: 'Lexend Mega', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.primary__btn{
   padding: 10px 20px;
   background-color:#261B59;
   color: #fff;
   border:none;
   border-radius: 5px;
   font-size: 15px;
   font-weight: 500;
}
.primary__btn:hover{
  background-color:#261f19;	
}
.primary__span{
	font-size: 15px;
	margin-left: 10px;
}
.primary__box{
	display: block;
	width: 300px;
	height: 250px;
	border-radius: 10px;
	background-color: #FAFAFC;
}
.primary__text{
	color: #222222;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 500;
	padding: 30px 0;
}
.primary__title{
	color: #261B59;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.5;
}
.navbar{
	position: relative;
 
}
.navbar>.container{
	display: flex;
	justify-content: space-between;
	position: relative;
	
}
.navbar-link{
   padding-top:30px;
   width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__logo{
	width: 15%;
}
.navbar__logo__img{
	width: 100%;
}
.navbar-list{

	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.navbar__item{

}
.navbar__item a{
	color:#261B59;
	font-weight: 600;
}
.navbar__item a:hover{
	color: #092d76;
}
.navbar__box{
	position: absolute;
	width: 20%;
	height: 200px;
	transform: translateY(-5%);
	right: 0%;
	background-color: #E3E3E3;
}
.navbar__box__left{
	width: 600px;
	height: 400px;
	position: absolute;
	right: -10%;
	top: 0%;
	z-index: -10;
}
.navbar__box__right{
	position: absolute;
	left: -15%;
	top: -150%;
	transform: rotate(45deg);
	z-index: -20;
}
.health{
	padding-top: 200px;

}
.health>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.health__content{
position: relative;
	width: 45%;
}
/*.health__content__title{

	color: #261B59;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.5;

}*/
.health__form{

	width: 100%;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
    background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.health__form__select{
	padding: 15px 0;
	width: 40%;
	border:none;
}
.health__content__img{
	position: absolute;
	transform: translate(-40%,-60%);
	width: 20%;
	z-index: -88;
}
.health__boxs{
	
	display: flex;
	width: 45%;

}
.health__box3,.health__box2{
	position: absolute;
	background-color:#E3E3E3;
	width: 250px;
      height: 360px;
      z-index: 2;
}
.health__box3{
	top: 0%;
	right: -5%;
}
.health__box2{
	top: 7%;
}
.health__box1{
	width: 470px;
	position: absolute;
	bottom: -20%;
	right: -15%;
	background-color: #F6F5FA;
}
.pediatrics{
	

}
.pediatrics>.container,.check-up>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
}
.pediatrics__boxs{
	position: relative;
    width: 45%;
}
.pediatrics__box1{
	width: 400px;
	height: 400px;
	background-color: #E3E3E3;
	z-index: 3;
   border-radius:none;
 
}
.pediatrics__box2{
	background-color: #261B59;
     position: absolute;
	width: 400px;
	height: 400px;
	transform: rotate(22.5deg);
	z-index: -2;
	border-radius:none;
}
.pediatrics__content{
	width: 45%;
}
.pediatrics__boxs__img{
	width: 20%;
	position: absolute;
	left: -10%;
	bottom: -8%;
	z-index: -3;

}
.check-up__box2{
	
	transform: rotate(-22.5deg);
	
}
.check-up__boxs__img{
	width: 20%;
	position: absolute;
	right: 14%;
	bottom: -8%;
	z-index: -3;
}
.our-doctors__body{
	display: block;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 30px;

}
.our-doctors__header{
	margin: 0 auto;
	padding-top: 100px;
	display: block;
	justify-content: space-between;
}
.our-doctors__header__title{
	margin: 0 auto;
	text-align: center;
}
.our-doctors__header__text{
	margin: 0 auto;
	width: 60%;
	text-align: center;
}
.our-doctors__body__boxs{
	display: flex;


}
.our-doctors__body__box{
	width: 50%;
	background-color:#E8F6FF;
}
.our-doctors__body__content{
	width: 50%;
	background-color: #F5F6F8;
	padding: 40px 80px 40px 40px;
}
.our-doctors__body__content__title{
	font-size: 35px;
	padding-bottom: 10px;
}
.our-doctors__body__content__text{
	font-size: 14px;
}
.our-doctors__body__content2{
	margin: 0 auto;
	display: block;
	text-align: right;
}
.footer{
	position: relative;
	background-color:#F5F6F8;
	z-index:-11;
}
.footer>.container{
	margin: 0 auto;
	display: block;
	justify-content: center;
	padding-top: 200px;

}
.footer__header__title{
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
}
.footer__header__text{
	margin: 0 auto;
	text-align: center;
}
.footer__form{
	
z-index: 2;
	margin: 0 auto;
	width: 60%;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;	
	justify-content:space-between; 
	margin-bottom: 100px;

}
.footer__form__input{
	width: 70%;	
}
.footer__form__input input{
	width: 60%;	
	border:none;
	padding: 10px 10px;	
}
.footer__form__text{
	padding: 0;
	color: rgba(0,0,0,0.4);
}
::placeholder{
	color: #261B59;
	font-size: 20px;
}
.footer__form__btn{
	width: 25%;	
	padding: 0 40px;
}
.footer__form__img1,.footer__form__img2{
	position: absolute;
	width: 100px;
	z-index: -1;

}
.footer__form__img1{
     top: 28%;
     left: 64%;
}
.footer__form__img2{
	top: 60%;
	left: 30%;
}
.footer__buttom{
	border-top: 1px solid #261B59;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.footer__buttom__logo{
	width: 20%;
}
.footer__buttom__logo img{
	width: 70%;
}
.footer__buttom-list{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__buttom__item a{
	color:#261B59;
	font-weight: 600;

}
.footer__buttom__item a:hover{
	color:blue;
}
.footer__buttom__link a{
	color:#261B59;
	font-weight: 600;
	padding: 0 10px;
}
.footer__buttom__link a:hover{
	color:blue;
}
.clients{
	padding: 100px 0;

}
.clients>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clients__content__box__span1{
	margin:0 auto;
	text-align: center;
	font-size: 50px;
	color: #261B59;

}
.clients__box{
	width: 50%;
}
.clients__content__box{
	padding: 60px 30px 30px 30px;
	width: 400px;
	height: 500px;
	background-color: #F5F6F8;
	display: block;
	justify-content: space-between;
	text-align: center;

}
.clients__content__box__text{
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}
.clients__content__box__title{
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
}