*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background-color: #FEFEFE;
    font-family: 'Lexend Mega', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.primary__btn{
   padding: 10px 20px;
   background-color:#261B59;
   color: #fff;
   border:none;
   border-radius: 5px;
   font-size: 15px;
   font-weight: 500;
}
.primary__span{
	font-size: 15px;
	margin-left: 10px;
}
.primary__box{
	display: block;
	width: 300px;
	height: 250px;
	border-radius: 10px;
	background-color: #FAFAFC;
}
.primary__text{
	color: #222222;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 500;
	padding: 30px 0;
}
.primary__title{
	color: #261B59;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.5;
}
.navbar{
	position: relative;
 
}
.navbar>.container{
	display: flex;
	justify-content: space-between;
	position: relative;
	
}
.navbar-link{
   padding-top:30px;
   width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__logo{
	width: 15%;
}
.navbar__logo__img{
	width: 100%;
}
.navbar-list{

	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.navbar__item{

}
.navbar__item a{
	color:#261B59;
	font-weight: 600;
}
.navbar__item a:hover{
	color: #092d76;
}
.navbar__box{
	position: absolute;
	width: 20%;
	height: 200px;
	transform: translateY(-5%);
	right: 0%;
	background-color: #E3E3E3;
}
.navbar__box__left{
	width: 600px;
	height: 400px;
	position: absolute;
	right: -10%;
	top: 0%;
	z-index: -10;
}
.navbar__box__right{
	position: absolute;
	left: -15%;
	top: -150%;
	transform: rotate(45deg);
	z-index: -20;
}
.health{
	padding-top: 200px;

}
.health>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.health__content{
position: relative;
	width: 45%;
}
/*.health__content__title{

	color: #261B59;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.5;

}*/
.health__form{

	width: 100%;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
    background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.health__form__select{
	padding: 15px 0;
	width: 40%;
	border:none;
}
.health__content__img{
	position: absolute;
	transform: translate(-40%,-60%);
	width: 20%;
	z-index: -88;
}
.health__boxs{
	
	display: flex;
	width: 45%;

}
.health__box3,.health__box2{
	position: absolute;
	background-color:#E3E3E3;
	width: 250px;
      height: 360px;
      z-index: 2;
}
.health__box3{
	top: 0%;
	right: -5%;
}
.health__box2{
	top: 7%;
}
.health__box1{
	width: 470px;
	position: absolute;
	bottom: -20%;
	right: -15%;
	background-color: #F6F5FA;
}
.pediatrics{
	

}
.pediatrics>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
}
.pediatrics__boxs{
    width: 45%;
}
.pediatrics__box1{
	width: 400px;
	height: 400px;
	background-color: #E3E3E3;
	z-index: 3;
   border-radius:none;
 
}
.pediatrics__box2{
	background-color: #261B59;
     position: absolute;
	width: 400px;
	height: 400px;
	transform: rotate(22.5deg);
	z-index: -2;
	border-radius:none;
}
.pediatrics__content{
	width: 45%;
}